@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #000000;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

main,
footer,
a,
p {
  color: var(--foreground);
  overscroll-behavior: none;
}

ruby,
span {
  display: inline-flex;
}

rb,
rt {
  display: inline;
  font-size: 1rem;
  line-height: 1;
  opacity: 85%;
}

.h1-animation-wrapper {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.animate-name {
  position: absolute;
  width: auto;
  opacity: 0;
  transform: translateY(100px);
  animation: floatUp 12s infinite;
}

/* English */
.animate-name:nth-child(1) {
  animation-delay: 0s;
  z-index: 4;
}

/* Thai */
.animate-name:nth-child(2) {
  animation-delay: 3s;
  z-index: 3;
}

/* Japanese */
.animate-name:nth-child(3) {
  animation-delay: 6s;
  z-index: 2;
}

/* Chinese */
.animate-name:nth-child(4) {
  animation-delay: 9s;
  z-index: 1;
}

@keyframes floatUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  10% {
    opacity: 1;
    transform: translateY(0);
  }
  20% {
    opacity: 1;
    transform: translateY(0);
  }
  30% {
    opacity: 0;
    transform: translateY(-40px);
  }
  100% {
    opacity: 0;
    transform: translateY(-40px);
  }
}

.change-color {
  animation: cycleColors 12s infinite;
}

@keyframes cycleColors {
  /* text-sky-400 */
  0% {
    color: rgb(56 189 248);
  }
  /* text-yellow-400 */
  5% {
    color: rgb(250 204 21);
  }
  25% {
    color: rgb(250 204 21);
  }
  /* text-pink-400 */
  30% {
    color: rgb(244 114 182);
  }
  50% {
    color: rgb(244 114 182);
  }
  /* text-lime-400 */
  55% {
    color: rgb(163 230 53);
  }
  75% {
    color: rgb(163 230 53);
  }
  /* text-sky-400 */
  80% {
    color: rgb(56 189 248);
  }
  95% {
    color: rgb(56 189 248);
  }
  100% {
    color: rgb(56 189 248);
  }
}

@keyframes colorCycle {
  0% {
    color: #facc15;
  }
  25% {
    color: #f472b6;
  }
  50% {
    color: #84cc16;
  }
  75% {
    color: #38bdf8;
  }
  100% {
    color: #facc15;
  }
}
.hover\:animate-colorCycle:hover {
  animation: colorCycle 2s linear infinite;
}

@layer components {
  #navbar {
    @apply fixed top-0 left-0 w-full z-50;
  }

  #footer {
    @apply fixed bottom-0 left-0 w-full z-50;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
